@CHARSET "ISO-8859-1";

.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}
ul {
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.clearlist {
    clear:both;
    margin:0 410px 0 34px;  
}